header{
    float: right;
    padding-top: 20px;
}
.header-right{
    text-decoration: none;
    border: none;
    background-color: white;
    padding: 5px 20px;
    font-size: 14px;
    font-family:'Roboto', sans-serif;
}
body{
    margin-left: 5%;
    margin-right: 5%;     
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    font-size: 80px;
    padding-bottom: 0%;
    padding-top: 100px;
}
.orange-highlight{
    color: #FF8367;
}
.heading-color{
    color: #363958;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: grey;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(#F46060, #FD8A66);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: small;
    float: left;
}
.half-width img{
    width: 80%;
}
section{
    height: 400px;
    padding-bottom: 150px;
}
h2{
    font-size: 48px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
}
h3{
    font-size: 28;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
}
#pad{
    padding-top: 100px;
    padding-left: 90px;

}
#latest-project{
    text-align: center;
    padding-bottom: 0px;
    height: 100px;
}
.box{
    padding-top: 0%;
}
.project-box{
    width: 25%;
    margin-left: 3%;
    float: left;
    padding: 2%;
}
.project-box img{
   width: 100%;
}
.project-box{
    box-shadow: 8px 8px 5px whitesmoke;
    border-radius: 20px;
    height: 80%;
}
