header{
    float: right;
    padding-top: 20px;
}
.header-right{
    text-decoration: none;
    border: none;
    background-color: white;
    padding: 5px 20px;
    font-size: 14px;
    font-family:'Roboto', sans-serif;
}
body{
    margin-left: 5%;
    margin-right: 5%;     
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    font-size: 80px;
    padding-bottom: 0%;
    padding-top: 100px;
}
.orange-highlight{
    color: #FF8367;
}
.heading-color{
    color: #363958;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: grey;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(#F46060, #FD8A66);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: small;
    float: left;
}
.half-width img{
    width: 90%;
    padding-top: 20%;
}
section{
    height: 400px;
    padding-bottom: 150px;
}
h2{
    font-size: 48px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
}
h3{
    font-size: 28;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
}
#pad{
    padding-top: 100px;
    padding-left: 90px;

}
#latest-project{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 0px;
    height: 100px;
}
.box{
    padding-top: 0%;
}
.project-box{
    width: 25%;
    margin-left: 3%;
    float: left;
    padding: 2%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    height: 80%;
}
.project-box img{
   width: 100%;
}

#stay-connected{
    text-align: center;
    font-size: 24px;
    color: grey;
    font-family: 'Bebas Neue', cursive;
}
#work-inquiry{
    height: 50px;
    background-image: url(images/Group_33094_1.png);
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
}
#inquiry{
    width: 55%;
    height: 100px;
    Float : left;
    padding-left: 5%;
    color: white;
    font-size: 52px;
    font-family: 'Bebas Neue', cursive;
}
.button{
    width: 20%;
    float: left;
    margin-left: 15%;
    margin-right: 5%;
  
    padding-top: 65px;
}
.Connected{
    text-align: center;
}
#stay{
    font-family:'Bebas Neue', cursive;
    font-size: 24px;
    
}
#elo{
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    color:#363958;
}

.foot{
    margin-left: 30%;
    padding-bottom: 0%;
    padding-left: 30%;
}
.icon{
    float: left;
    height: 36px;
    width: 36px;
    margin-left: 10%;
    margin-right: 10%;
}